<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewData["Title"] - SkillUp AdminDasboard</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <!-- Meta, title, CSS, favicons, etc. -->
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!---<title>AdminDashboard</title>--->
    <script src="~/AdminAssets/vendors/jquery/dist/jquery.min.js"></script>
    <!-- Bootstrap -->
    <link href="cdn.datatables.net/1.10.20/css/jquery.dataTables.min.css">
    <link href="~/AdminAssets/vendors/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet">
    <!-- Font Awesome -->
    <link href="~/AdminAssets/vendors/font-awesome/css/font-awesome.min.css" rel="stylesheet">
    <!-- NProgress -->
    <link href="~/AdminAssets/vendors/nprogress/nprogress.css" rel="stylesheet">
    <!-- iCheck -->
    <link href="~/AdminAssets/vendors/iCheck/skins/flat/green.css" rel="stylesheet">
    <!-- Datatables -->

    <link href="~/AdminAssets/vendors/datatables.net-bs/css/dataTables.bootstrap.min.css" rel="stylesheet">
    <link href="~/AdminAssets/vendors/datatables.net-buttons-bs/css/buttons.bootstrap.min.css" rel="stylesheet">
    <link href="~/AdminAssets/vendors/datatables.net-fixedheader-bs/css/fixedHeader.bootstrap.min.css" rel="stylesheet">
    <link href="~/AdminAssets/vendors/datatables.net-responsive-bs/css/responsive.bootstrap.min.css" rel="stylesheet">
    <link href="~/AdminAssets/vendors/datatables.net-scroller-bs/css/scroller.bootstrap.min.css" rel="stylesheet">

    <!-- Custom Theme Style -->
    <link href="~/AdminAssets/build/css/custom.min.css" rel="stylesheet">

    <!-- toaster -->

    <link href="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/toastr.min.css" rel="stylesheet" />


    <!-- Tiny McE -->

    <script src="https://cdn.tiny.cloud/1/bvsojjhp23qv725h1xrrjkhxmntpv7cgfe08kgqkcara6016/tinymce/7/tinymce.min.js" referrerpolicy="origin"></script>
    <script>
        var isDeleteMode = @((ViewData["IsDeleteMode"] as bool?) == true ? "true" : "false");
        tinymce.init({
            selector: 'textarea#tiny',
            readonly: isDeleteMode === "true" ? 1 : 0,
            setup: function (editor) 
            {
                editor.on('init', function () 
                {
                    if (isDeleteMode === "true") 
                    {
                        editor.getDoc().designMode = "off"; // Disable editing
                    }
                });
            },
            plugins: [
                'a11ychecker', 'advlist', 'advcode', 'advtable', 'autolink', 'checklist', 'markdown',
                'lists', 'link', 'image', 'charmap', 'preview', 'anchor', 'searchreplace', 'visualblocks',
                'powerpaste', 'fullscreen', 'formatpainter', 'insertdatetime', 'media', 'table', 'help', 'wordcount'
            ],
            toolbar: 'undo redo | a11ycheck casechange blocks | bold italic backcolor | alignleft aligncenter alignright alignjustify |' +
                'bullist numlist checklist outdent indent | removeformat | code table help'
        })
    </script>

</head>
<body>
    <div class="container body">
        <div class="main_container">
            <div class="col-md-3 left_col">
                <div class="left_col scroll-view">
                    <div class="navbar nav_title" style="border: 0;">
                        <a asp-controller="AdminDashboard" asp-action="Index"  class="site_title"><i class="fa fa-graduation-cap"></i></i> <span>SkillUp  Admin</span></a>
                    </div>

                    <div class="clearfix"></div>

                    <!-- menu profile quick info -->
                    <div class="profile clearfix">
                        <div class="profile_pic">
                            <img src="~/images/images.jfif" alt="..." class="img-circle profile_img">
                        </div>
                        <div class="profile_info">
                            <span>Welcome,</span>

                            @if (User.Identity.IsAuthenticated)
                              {
                                 <h2>@User.Identity.Name</h2>
                              }
                        </div>
                    </div>
                    <!-- /menu profile quick info -->

                    <br />

                    <!-- sidebar menu -->
                    <div id="sidebar-menu" class="main_menu_side hidden-print main_menu">
                        <div class="menu_section">
                            <h3>General</h3>
                            <ul class="nav side-menu">
                                <li>
                                    <a><i class="fa fa-users"></i> Users <span class="fa fa-chevron-down"></span></a>
                                    <ul class="nav child_menu">
                                        <li><a asp-controller="AdminDashboard" asp-action="Index">Users List</a></li>
                                        <li><a asp-controller="AdminDashboard" asp-action="AddUser">Add User</a></li>
                                    </ul>
                                </li>
                    
                                <li>
                                    <a><i class="fa fa-desktop"></i> Courses <span class="fa fa-chevron-down"></span></a>
                                    <ul class="nav child_menu">
                                        <li><a asp-controller="AdminDashboard" asp-action="AddCourse">Add Course</a></li>
                                        <li><a asp-controller="AdminDashboard" asp-action="GetAllCourses">Courses List</a></li>
                                    </ul>
                                </li>
                            </ul>
                        </div>

                    </div>
                    <!-- /sidebar menu -->
                    <!-- /menu footer buttons -->
                    <div class="sidebar-footer hidden-small">
      
                        <a data-toggle="tooltip" data-placement="top" title="Logout"  asp-controller="Account" asp-action="Logout">
                            <span class="glyphicon glyphicon-off" aria-hidden="true"></span>
                        </a>
                    </div>
                    <!-- /menu footer buttons -->
                </div>
            </div>

            <!-- top navigation -->
            <div class="top_nav">
                <div class="nav_menu">
                    <div class="nav toggle">
                        <a id="menu_toggle"><i class="fa fa-bars"></i></a>
                    </div>
                    <nav class="nav navbar-nav">
                        <ul class=" navbar-right">
                            <li class="nav-item dropdown open" style="padding-left: 15px;">
                                <a href="javascript:;" class="user-profile dropdown-toggle" aria-haspopup="true" id="navbarDropdown" data-toggle="dropdown" aria-expanded="false">
                                    <img src="~/images/images.jfif" alt=""> @if (User.Identity.IsAuthenticated)
                                    {
                                        @User.Identity.Name
                                    }
                                </a>
                                <div class="dropdown-menu dropdown-usermenu pull-right" aria-labelledby="navbarDropdown">
                                    <a class="dropdown-item" href="javascript:;"> Profile</a>
                                    <a class="dropdown-item" href="javascript:;">
                                        <span class="badge bg-red pull-right">50%</span>
                                        <span>Settings</span>
                                    </a>
                                    <a class="dropdown-item" href="javascript:;">Help</a>
                                    <a asp-controller="Account" asp-action="Logout"><i class="fa fa-sign-out pull-right"></i> Log Out</a>
                                </div>
                            </li>
                        </ul>
                    </nav>
                </div>
            </div>

            <div>
                @RenderBody()
                @await Html.PartialAsync("_Notifications")
                <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
                <script src="//cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/js/toastr.min.js"></script>
               
            </div>
            <footer>
                <div class="pull-right">
                    Gentelella - Bootstrap Admin Template by <a href="https://colorlib.com">Colorlib</a>
                </div>
                <div class="clearfix"></div>
            </footer>
            <!-- /footer content -->
        </div>
    </div>

    <!-- jQuery -->
    <script src="~/AdminAssets/vendors/jquery/dist/jquery.min.js"></script>
    <!-- Bootstrap -->
    <script src="~/AdminAssets/vendors/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <!-- FastClick -->
    <script src="~/AdminAssets/vendors/fastclick/lib/fastclick.js"></script>
    <!-- NProgress -->
    <script src="~/AdminAssets/vendors/nprogress/nprogress.js"></script>
    <!-- iCheck -->
    <script src="~/AdminAssets/vendors/iCheck/icheck.min.js"></script>
    <!-- Datatables -->
    <script src="~/AdminAssets/vendors/datatables.net/js/jquery.dataTables.min.js"></script>
    <script src="~/AdminAssets/vendors/datatables.net-bs/js/dataTables.bootstrap.min.js"></script>
    <script src="~/AdminAssets/vendors/datatables.net-buttons/js/dataTables.buttons.min.js"></script>
    <script src="~/AdminAssets/vendors/datatables.net-buttons-bs/js/buttons.bootstrap.min.js"></script>
    <script src="~/AdminAssets/vendors/datatables.net-buttons/js/buttons.flash.min.js"></script>
    <script src="~/AdminAssets/vendors/datatables.net-buttons/js/buttons.html5.min.js"></script>
    <script src="~/AdminAssets/vendors/datatables.net-buttons/js/buttons.print.min.js"></script>
    <script src="~/AdminAssets/vendors/datatables.net-fixedheader/js/dataTables.fixedHeader.min.js"></script>
    <script src="~/AdminAssets/vendors/datatables.net-keytable/js/dataTables.keyTable.min.js"></script>
    <script src="~/AdminAssets/vendors/datatables.net-responsive/js/dataTables.responsive.min.js"></script>
    <script src="~/AdminAssets/vendors/datatables.net-responsive-bs/js/responsive.bootstrap.js"></script>
    <script src="~/AdminAssets/vendors/datatables.net-scroller/js/dataTables.scroller.min.js"></script>
    <script src="~/AdminAssets/vendors/jszip/dist/jszip.min.js"></script>
    <script src="~/AdminAssets/vendors/pdfmake/build/pdfmake.min.js"></script>
    <script src="~/AdminAssets/vendors/pdfmake/build/vfs_fonts.js"></script>




    <!-- Custom Theme Scripts -->
    <script src="~/AdminAssets/build/js/custom.min.js"></script>

    <!-- Validation Scripts Partial -->
    @await Html.PartialAsync("_ValidationScriptsPartial")
  
    <!-- Render additional scripts if any -->
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
