@using SkillUP.DataAccessLayer.Entities.Users
@using SkillUP.VMs.AdminDashboardVMs.MangerCoursesVMs
@model List<CourseListVM>
@using Microsoft.AspNetCore.Identity
@inject UserManager<GeneralUser> userManager


<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>AllCourses</title>
</head>
<body>
    <!-- Header Start -->
    <div class="container-fluid bg-primary py-5 mb-5 page-header">
        <div class="container py-5">
            <div class="row justify-content-center">
                <div class="col-lg-10 text-center">
                    <h1 class="display-3 text-white animated slideInDown">Courses</h1>
                    <nav aria-label="breadcrumb">
                        <!-- <ol class="breadcrumb justify-content-center">
                            <li class="breadcrumb-item"><a class="text-white" href="index.html">Home</a></li>
                            <li class="breadcrumb-item text-white active" aria-current="page">Courses</li>
                        </ol> -->
                    </nav>
                </div>
            </div>
        </div>
    </div>
    <!-- Header End -->
    <!-- Search Form Start -->
    <div class="container">
        <form asp-action="Search" method="get">
            <div class="row mb-3">
                <div class="col">
                    <label for="searchTerm">Search:</label>
                    <input type="text" class="form-control" id="searchTerm" name="searchTerm" value="@ViewBag.SearchTerm" />
                </div>
                <div class="col">
                    <label for="minPrice">Min Price:</label>
                    <input type="number" class="form-control" id="minPrice" name="minPrice" value="@ViewBag.MinPrice" />
                </div>
                <div class="col">
                    <label for="maxPrice">Max Price:</label>
                    <input type="number" class="form-control" id="maxPrice" name="maxPrice" value="@ViewBag.MaxPrice" />
                </div>
                <div class="col">
                    <label for="totalHours">Total Hours:</label>
                    <input type="number" class="form-control" id="totalHours" name="totalHours" value="@ViewBag.TotalHours" />
                </div>
            </div>
            <button type="submit" class="btn btn-primary">Search</button>
        </form>
    </div>
    <!-- Search Form End -->
    <!-- Courses Start -->


    <div class="container-xxl py-5">
        <div class="container">
            <div class="text-center wow fadeInUp" data-wow-delay="0.1s">
                <h6 class="section-title bg-white text-center px-3">Popular Courses</h6>
                <h1 class="mb-5" style="color: #fb873f;">Explore new and trending online courses</h1>
            </div>
            <div class="row g-4 py-2">

                @foreach (var item in Model)
                {
                    <div class="col-lg-3 col-md-6 wow fadeInUp" data-wow-delay="0.1s">
                        <div class="course-item shadow">
                            <div class="position-relative overflow-hidden text-light image">
                                <img class="img-fluid" src="@Url.Content($"~/Images/Courses/{item.ImgUrl}")" alt="@item.Title">
                                <div style="position:absolute;top: 15px;left: 16px; font-size:12px; border-radius:3px; background-color:#fb873f;"
                                     class="px-2 py-1 fw-bold text-uppercase">
                                    @item.Price.ToString("N2") EGP
                                </div>

                            </div>
                            <div class="p-2 pb-0">

                                <h5 class="mb-1">@item.Title</h5>
                            </div>
                            <div class="d-flex">
                               @*  <small class="flex-fill text-center py-1 ">
                                    <i class="fa fa-star text-warning me-2"></i>
                                    4.55
                                </small> *@
                                <small class="flex-fill py-1 px-2">
                                    <i class="fa fa-clock me-2"></i>@item.TotalHours Hours
                                </small>
                            </div>
                            <div class="d-flex">
                                <small class="flex-fill text-left p-2 px-2">
                                    <i class="fa fa-user-edit me-2"></i>@item.InstructorName
                                </small>

                                <small class=" text-primary py-2 px-2 fw-bold fs-6" style="float:right;">
                                    <a onclick="@(User.Identity.IsAuthenticated ? $"location.href='/Home/GetCourseDetails/{item.Id}'" : "showLoginModal()")">
                                        View Course
                                    </a><i class="fa fa-chevron-right me-2 fs-10"></i>
                                </small>
                            </div>
                        </div>
                    </div>
                }

                <!-- Modal for login/registration -->
                <div class="modal" id="loginModal" tabindex="-1" role="dialog">
                    <div class="modal-dialog" role="document">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h5 class="modal-title">Login or Register</h5>
                                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                    <span aria-hidden="true">&times;</span>
                                </button>
                            </div>
                            <div class="modal-body">
                                <p>You need to be logged in to  show Details or enroll in this course. Please login or register.</p>
                                <a asp-controller="Account" asp-action="Login" class="btn btn-secondary">Login</a>
                                <a asp-controller="Account" asp-action="RegisterStudent" class="btn btn-primary">Register</a>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>


    <!-- Courses End -->
</body>
</html>

<script>
    function showLoginModal() {
        $('#loginModal').modal('show');
    }
</script>